<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu</title>
</head>
<body>
  <h1>Full Menu</h1>
  <%- include('./partials/nav') %>
  <ul>
    <% restaurant.menu.forEach(item => { %>
      <li>
        <strong>
          <%= item.name %>
          <% if (item.rating === 5) { %>⭐<% } %>
        </strong> - $<%= item.price %><br>
        <em>Rating: <%= item.rating %>/5</em><br>
        <p><%= item.details %></p>
      </li>
    <% }) %>
  </ul>
</body>
</html>
